<!doctype html>
<html>
<head>
	<title>Add | Online</title>
</head>

<body>
	<h1>Add</h1>
	<form action="calculate_add" method="post">
		<!-- <label for="first-number">First Number:</label> -->
		<input type="number" id="first-number" name="first_number" placeholder="1st number"></input>
		+
		<!-- <label for="second-number">Second Number:</label> -->
		<input type="number" id="second-number" name="second_number" placeholder="2nd number"></input>

		<button type="submit">Calculate</button>
	</form>
</body>
</html>