<!doctype html>
<html>
<head>
	<title>Online Calculator</title>
</head>

<body>
	<h1>Welcome to the Online Calculator!</h1>
	<p>What would you like to do?</p>
	<ol>
		<li><p><a href="/add">Add</li>
		<li><p><a href="/subtract">Subtract</a></p></li>
		<li><p><a href="/multiply">Multiply</a></p></li>
		<li><p><a href="/divide">Divide</a></p></li>
	</ol>
</body>
</html>