<!doctype html>
<html>
<head>
	<title>Result</title>
</head>

<body>
	<h1>Result</h1>
	<% if @result %>
		<p><%= @result %></p>
	<% else %>
		<p>No results to display.</p>
	<% end %>
	<form action="/save" method="post">
		<input type="hidden" name="result" value="<%= @result %>"></input>
		<button type="submit">Save result</button>
	</form>
	<p><a href="/">Back to the calculator</a></p>
</body>
</html>