<!doctype html>
<html>
<head>
	<title>Result</title>
</head>

<body>
	<h1>Result</h1>
	<% if @hash %>
		<p><%= @hash[:first] %> <%= @hash[:method] %> <%= @hash[:second] %> = <%= @hash[:result] %></p>
	<% else %>
		<p>No results to display.</p>
	<% end %>
	<p><a href="/">Back to the calculator</a></p>
</body>
</html>